/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu
@import './utils/variables';
@import './utils/container';
@import './utils/globals';

@import './example';
@import './components/hero-header';
@import './components/products';
@import './components/about';
@import './components/advantages';
@import './components/gallery';
@import './components/reviews';
@import './components/contacts';
@import './components/footer';
