@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
:root {
  --background-footer: #fff5f6;
  --background-header: #ffb8ca;
  --background-mobile-menu: #e17992;
  --text-red: #d41443;
  --text-pink: #ffa5ba;
  --text-black: #000000;
  --text-grey: #907e82;
  --text-white: #ffffff;
  --icecoffee-color: #f0d1a5;
  --milkshakes-color: #c2e297;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding-inline: 20px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-inline: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-inline: 77px;
  }
}

body {
  font-family: "DM Sans", sans-serif;
}

.list-style {
  list-style-type: none;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Titan One", cursive;
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

h1 {
  color: var(--text-grey);
}

.products__title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-pink);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .products__title {
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 1280px) {
  .products__title {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}

.products__headline {
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  color: var(--text-red);
  margin-bottom: 144px;
}
@media screen and (min-width: 768) {
  .products__headline {
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1280px) {
  .products__headline {
    font-size: 58px;
    line-height: 66px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 130px;
}
@media screen and (min-width: 768px) {
  .products__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .products__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 29px;
  }
}

.products__item {
  width: 100%;
  background: var(--background-header);
  border-radius: 24px;
  height: 485px;
}
@media screen and (min-width: 768px) {
  .products__item {
    flex-basis: calc((100% - 40px) / 3);
  }
}
@media screen and (min-width: 1280px) {
  .products__item {
    height: 525px;
    flex-basis: calc((100% - 58px) / 3);
  }
}

.products__subject {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--text-white);
  text-align: center;
  margin-top: 161px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .products__subject {
    margin-top: 152px;
  }
}
@media screen and (min-width: 1280px) {
  .products__subject {
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    margin-top: 163px;
  }
}

.products__color-coffee {
  background-color: var(--icecoffee-color);
}

.products__color-shake {
  background-color: var(--milkshakes-color);
}

.products__text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--text-white);
  flex-wrap: wrap;
  padding-top: 66px;
  padding-left: 41px;
  padding-right: 39px;
}
@media screen and (min-width: 768px) {
  .products__text {
    padding-left: 11px;
    padding-right: 11px;
  }
}
@media screen and (min-width: 1280px) {
  .products__text {
    font-size: 16px;
    line-height: 176%;
    text-align: center;
    padding-top: 70px;
    padding-left: 45px;
    padding-right: 45px;
  }
}/*# sourceMappingURL=main.css.map */