@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
:root {
  --background-footer: #fff5f6;
  --background-header: #ffb8ca;
  --background-mobile-menu: #e17992;
  --text-red: #d41443;
  --text-pink: #ffa5ba;
  --text-black: #000000;
  --text-grey: #907e82;
  --text-white: #ffffff;
  --icecoffee-color: #f0d1a5;
  --milkshakes-color: #c2e297;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding-inline: 20px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-inline: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-inline: 77px;
  }
}

body {
  font-family: "DM Sans", sans-serif;
}

.list-style {
  list-style-type: none;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Titan One", cursive;
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

h1 {
  color: var(--text-grey);
}

.products__title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-pink);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .products__title {
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 1280px) {
  .products__title {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}

.products__headline {
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  color: var(--text-red);
  margin-bottom: 144px;
}
@media screen and (min-width: 768) {
  .products__headline {
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1280px) {
  .products__headline {
    font-size: 58px;
    line-height: 66px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 130px;
}
@media screen and (min-width: 768px) {
  .products__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .products__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 29px;
  }
}

.products__item {
  width: 100%;
  background: var(--background-header);
  border-radius: 24px;
  height: 485px;
}
@media screen and (min-width: 768px) {
  .products__item {
    flex-basis: calc((100% - 40px) / 3);
  }
}
@media screen and (min-width: 1280px) {
  .products__item {
    height: 525px;
    flex-basis: calc((100% - 58px) / 3);
  }
}

.products__subject {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--text-white);
  text-align: center;
  margin-top: 161px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .products__subject {
    margin-top: 152px;
  }
}
@media screen and (min-width: 1280px) {
  .products__subject {
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    margin-top: 163px;
  }
}

.products__color-coffee {
  background-color: var(--icecoffee-color);
}

.products__color-shake {
  background-color: var(--milkshakes-color);
}

.products__text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--text-white);
  flex-wrap: wrap;
  padding-top: 66px;
  padding-left: 41px;
  padding-right: 39px;
}
@media screen and (min-width: 768px) {
  .products__text {
    padding-left: 11px;
    padding-right: 11px;
  }
}
@media screen and (min-width: 1280px) {
  .products__text {
    font-size: 16px;
    line-height: 176%;
    text-align: center;
    padding-top: 70px;
    padding-left: 45px;
    padding-right: 45px;
  }
<<<<<<< Updated upstream
=======
}

.products__card {
  position: relative;
}

.products__pic {
  position: absolute;
  top: -110px;
  padding-left: 16px;
}
@media screen and (min-width: 768px) {
  .products__pic {
    margin-left: -10px;
  }
}
.products__arrow {
  display: flex;
  justify-content: center;
}

.about__section {
  background-color: var(--background-footer);
  padding-bottom: 39px;
  padding-top: 125px;
  background-image: url(../images/mobile/milkback1x.png);
  background-repeat: no-repeat;
  background-size: 100vw 133px;
  background-position: right 0 bottom 146px;
}

.about__label {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.166;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-pink);
  margin-bottom: 15px;
  margin-top: 0;
}

.about__title {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-red);
  margin-top: 0;
}

.about__view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__image {
  width: 280px;
  height: 279px;
}

.about__description--first-para {
  max-width: 463px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.583;
  color: var(--text-black);
  padding-inline: 30px;
}

.about__description--second-para {
  max-width: 463px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.583;
  color: var(--text-grey);
  padding-top: 47px;
  padding-inline: 30px;
}

.about__description--button {
  padding-top: 47px;
  padding-inline: 30px;
}

.about__button {
  width: 176px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--text-white);
  border-radius: 22px;
  border: 0;
  padding: 0;
  cursor: pointer;
}
.about__button:hover {
  background: #ecebeb;
  transition: 250ms;
}

.about__button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 83px;
  height: 44px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.285;
  color: var(--text-red);
}

.about__icon {
  fill: var(--text-white);
  stroke: var(--text-red);
  max-height: 20px;
  margin-left: 13.62px;
}

.about-card {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  margin: 0 auto;
}

.about__backdrop {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  transform: scaleY(0);
}

.about-modal {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: var(--background-footer);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 8px 8px;
  overflow: auto;
}

.about-modal svg {
  fill: var(--text-pink);
}

.about-modal__button-close {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  margin-left: 396px;
  background-color: var(--background-footer);
}

.about-modal__title {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-red);
  margin-top: 0;
  box-sizing: content-box;
  display: inline-block;
  margin: 0 auto;
  width: 370px;
  height: 60px;
  padding-top: 32px;
}

.about-modal__description {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.583;
  color: var(--text-grey);
  padding-top: 20px;
  padding-inline: 30px;
}

@media (min-width: 480px) {
  .about-modal {
    width: 480px;
    height: 609px;
    margin: auto;
  }
}
@media (min-device-pixel-ratio: 2) and (max-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 768px), (min-resolution: 192dpi) and (max-width: 768px), (min-resolution: 2dppx) and (max-width: 768px) {
  .about__section {
    background-image: url(../images/mobile/milkback2x.png);
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .about__section {
    padding-bottom: 66px;
    padding-top: 130px;
    background-image: none;
  }
  .about__image {
    width: 340px;
    height: 339px;
    margin-bottom: 50px;
  }
  .about__view {
    display: flex;
    flex-direction: row;
  }
  .about__title {
    margin-bottom: 50px;
    font-size: 48px;
  }
  .about__label {
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 1.153;
  }
  .about__description--first-para {
    font-size: 14px;
    line-height: 1.785;
    padding-inline: 17px 36px;
  }
  .about__description--second-para {
    font-size: 14px;
    line-height: 1.785;
    padding-inline: 17px 36px;
    padding-top: 49px;
  }
  .about__description--button {
    padding-top: 62px;
    padding-inline: 17px 36px;
  }
  .about__list {
    margin-top: 50px;
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1280px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px), (min-resolution: 192dpi) and (min-width: 1280px), (min-resolution: 2dppx) and (min-width: 1280px) {
  .about__section {
    background-image: url(../images/desktop/milkback2x.png);
  }
}
@media (min-width: 1280px) {
  .about__section {
    padding-bottom: 39px;
    padding-top: 125px;
    background-image: url(../images/desktop/milkback1x.png);
    background-repeat: no-repeat;
    background-size: 100vw 534px;
    background-position: right 0 bottom -26px;
  }
  .about__image {
    width: 516px;
    height: 516px;
    margin-bottom: 0;
  }
  .about__view {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .about__title {
    margin-bottom: 55px;
    font-size: 58px;
    line-height: 1.138;
  }
  .about__label {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 1.133;
  }
  .about__description--first-para {
    font-size: 16px;
    line-height: 1.75;
    padding-inline: 0;
    letter-spacing: 0.04em;
  }
  .about__description--second-para {
    font-size: 14px;
    line-height: 1.785;
    padding-inline: 0;
    padding-top: 35px;
    letter-spacing: 0.04em;
  }
  .about__description--button {
    padding-top: 45px;
    padding-inline: 0;
  }
  .about__list {
    margin-top: 50px;
    margin-inline: 74px 40px;
  }
}
.advantages__section {
  background-color: var(--background-footer);
  padding-bottom: 59px;
}

.advantages-menu {
  margin: 0px;
}

.advantages__title {
  display: none;
}

.advantage-card {
  width: 230px;
  height: 156px;
  margin-bottom: 38px;
}

.advantage-card__quantity {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 98px;
  height: 120px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.138;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-red);
  margin: 0px;
}

.advantage-card__description {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.666;
  color: var(--text-black);
  margin: 0px;
}

.advantage-card__icon1::before {
  content: "";
  width: 33px;
  height: 50px;
  background-size: cover;
  background-image: url(../images/mobile/icon1@1x.png);
}

.advantage-card__icon2::before {
  content: "";
  width: 50px;
  height: 50px;
  background-size: cover;
  background-image: url(../images/mobile/icon2@1x.png);
}

.advantage-card__icon3::before {
  content: "";
  width: 44px;
  height: 50px;
  background-size: cover;
  background-image: url(../images/mobile/icon3@1x.png);
}

@media (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 768px), (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 768px), (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 768px) {
  .advantage-card__icon1::before {
    background-image: url(../images/mobile/icon1@2x.png);
  }
  .advantage-card__icon2::before {
    background-image: url(../images/mobile/icon2@2x.png);
  }
  .advantage-card__icon3::before {
    background-image: url(../images/mobile/icon3@2x.png);
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .advantages__section {
    padding-bottom: 139px;
  }
  .advantage-card {
    width: 180px;
    height: 222px;
    margin-bottom: 0;
  }
  .advantages-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 60px;
  }
  .advantage-card__quantity {
    width: 98px;
    height: 142px;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.145;
    letter-spacing: 0.04em;
    gap: 36px;
  }
  .advantage-card__description {
    font-size: 14px;
    line-height: 1.714;
    padding-top: 13px;
  }
  .advantage-card__icon1::before {
    background-image: url(../images/tablet/icon1@1x.png);
  }
  .advantage-card__icon2::before {
    background-image: url(../images/tablet/icon2@1x.png);
  }
  .advantage-card__icon3::before {
    background-image: url(../images/tablet/icon3@1x.png);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1280px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1280px), (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1280px), (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1280px) {
  .advantage-card__icon1::before {
    background-image: url(../images/tablet/icon1@2x.png);
  }
  .advantage-card__icon2::before {
    background-image: url(../images/tablet/icon2@2x.png);
  }
  .advantage-card__icon3::before {
    background-image: url(../images/tablet/icon3@2x.png);
  }
}
@media (min-width: 1280px) {
  .advantages__section {
    padding-bottom: 139px;
  }
  .advantage-card {
    width: 330px;
    height: 222px;
    margin-bottom: 0;
  }
  .advantages-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
  }
  .advantage-card__quantity {
    width: 98px;
    height: 155px;
    font-weight: 400;
    font-size: 58px;
    line-height: 1.137;
    letter-spacing: 0.04em;
    gap: 40px;
  }
  .advantage-card__description {
    font-size: 16px;
    line-height: 1.75;
    padding-top: 15px;
  }
  .advantage-card__icon1::before {
    background-image: url(../images/desktop/icon1@1x.png);
  }
  .advantage-card__icon2::before {
    background-image: url(../images/desktop/icon2@1x.png);
  }
  .advantage-card__icon3::before {
    background-image: url(../images/desktop/icon3@1x.png);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1280px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px), (min-resolution: 192dpi) and (min-width: 1280px), (min-resolution: 2dppx) and (min-width: 1280px) {
  .advantage-card__icon1::before {
    background-image: url(../images/desktop/icon1@2x.png);
  }
  .advantage-card__icon2::before {
    background-image: url(../images/desktop/icon2@2x.png);
  }
  .advantage-card__icon3::before {
    background-image: url(../images/desktop/icon3@2x.png);
  }
}
.gallery {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-inline: 0;
  margin-bottom: 80px;
  height: auto;
  background-image: linear-gradient(to bottom, var(--background-footer) 40%, var(--text-white) 40%);
}

.gallery__img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .gallery {
    margin-bottom: 120px;
  }
}
.container {
  margin: 0 20px;
}

.customer-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.customer__photo {
  text-align: center;
  margin-bottom: 29px;
}

.customer__comment-inner {
  background: #fafafa;
  margin-bottom: 42px;
  padding-block: 43px 26px;
  z-index: 2;
}

.customer__comment {
  font-size: 12px;
  padding: 0 15px;
  text-align: center;
  line-height: 255%;
  color: #000000;
  background: repeating-linear-gradient(#fafafa, #fafafa 29px, #e1e1e1 30px);
  position: relative;
  z-index: 1;
}

.customer__comment-comma::before {
  content: url("");
  position: absolute;
  width: 54px;
  height: 40px;
  left: 0px;
  top: -15px;
  z-index: -1;
}

.customer__tittle-home::before {
  content: url("");
  position: absolute;
  width: 32px;
  height: 4px;
  left: 125px;
  top: -35px;
}

.customer__tittle {
  text-align: center;
  font-size: 14px;
  line-height: 186%;
  color: #000000;
  margin-bottom: 80px;
  position: relative;
}

.customer__tittle-home::after {
  content: url("");
  position: absolute;
  width: 73px;
  height: 12px;
  left: 105px;
  top: 35px;
}

@media screen and (min-width: 480px) {
  .customer__comment-inner {
    background: #fafafa;
    margin-bottom: 42px;
    padding: 47px 84px 34px 80px;
    z-index: 2;
  }
  .customer__comment-comma::before {
    content: url("");
    position: absolute;
    width: 54px;
    height: 40px;
    left: -18px;
    top: -15px;
  }
  .customer__tittle-home::before {
    content: url("");
    position: absolute;
    width: 32px;
    height: 4px;
    left: 205px;
    top: -35px;
  }
  .customer__tittle-home::after {
    content: url("");
    position: absolute;
    width: 73px;
    height: 12px;
    left: 185px;
    bottom: -160px;
  }
}
@media screen and (min-width: 768px) {
  .customer__comment-inner {
    padding: 47px 80px 34px 80px;
  }
  .customer__comment {
    font-size: 14px;
    align-items: center;
    line-height: 216%;
    color: #000000;
    background: repeating-linear-gradient(#fafafa, #fafafa 28px, #e1e1e1 30px);
  }
  .customer__comment-comma::before {
    content: url("");
    position: absolute;
    width: 54px;
    height: 40px;
    left: -18px;
    top: -15px;
  }
  .customer__tittle-home::before {
    content: url("");
    position: absolute;
    width: 32px;
    height: 4px;
    left: 348px;
    top: -35px;
  }
  .customer__tittle-home::after {
    content: url("");
    position: absolute;
    width: 73px;
    height: 12px;
    left: 330px;
    top: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .customer-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .customer__photo {
    margin-bottom: 15px;
  }
  .customer__comment-inner {
    padding: 47px 109px 30px 107px;
  }
  .customer__comment {
    font-size: 16px;
    align-items: center;
    line-height: 186%;
    color: #0c0b0b;
    background: repeating-linear-gradient(#fafafa, #fafafa 28px, #e1e1e1 30px);
  }
  .customer__comment-comma::before {
    content: url("");
    position: absolute;
    width: 54px;
    height: 40px;
    left: -30px;
    top: -15px;
  }
  .customer__tittle-home::before {
    content: url("");
    position: absolute;
    width: 32px;
    height: 4px;
    left: 50px;
    top: -35px;
  }
  .customer__tittle-home::after {
    content: url("");
    position: absolute;
    width: 73px;
    height: 12px;
    left: 30px;
    top: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .customer-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .customer__photo {
    margin-bottom: 15px;
  }
  .customer__comment-inner {
    width: 926px;
    padding: 47px 109px 30px 107px;
  }
  .customer__comment {
    font-size: 16px;
    align-items: center;
    line-height: 186%;
    color: #000000;
    background: repeating-linear-gradient(#fafafa, #fafafa 28px, #e1e1e1 30px);
  }
  .customer__comment-comma::before {
    content: url("");
    position: absolute;
    width: 54px;
    height: 40px;
    left: -13px;
    top: -15px;
  }
  .customer__tittle-home::before {
    content: url("");
    position: absolute;
    width: 32px;
    height: 4px;
    left: 50px;
    top: -35px;
  }
  .customer__tittle-home::after {
    content: url("");
    position: absolute;
    width: 73px;
    height: 12px;
    left: 30px;
    top: 50px;
  }
}
.contact {
  background-image: linear-gradient(to bottom, var(--text-white) 5%, var(--background-footer) 5%);
}

.contact__cards {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 22px;
  gap: 20px;
  align-items: center;
}

.contact__card {
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1019607843);
  border-radius: 24px;
  padding: 43px 20px;
  width: 220px;
  background-color: var(--text-white);
}

.contact__card-title {
  display: inline;
  color: var(--text-white);
  background-color: var(--icecoffee-color);
  padding: 2px 35px;
  border-radius: 4px;
}

.contact__card-title-alternate-background {
  background-color: var(--milkshakes-color);
}

.contact__card-elements {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contact__card__adress,
.contact__card__date {
  position: relative;
}

.contact__card__adress-description {
  color: var(--text-grey);
  line-height: 18px;
}

.contact__card__date-days {
  margin: 0px;
}

.contact__card__date-hours {
  margin: 0px;
  margin-bottom: 10px;
  color: var(--text-pink);
}

.contact__card__contacts {
  line-height: 18px;
}

.contact__card__contacts-tel {
  text-decoration: none;
  color: var(--text-grey);
}

.contact__card__contacts-email {
  text-decoration: none;
  color: var(--text-grey);
}

.contact__card__adress::after,
.contact__card__date::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
  top: 125%;
}

.contact__button-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 0px;
}

.contact-button {
  height: 44px;
  min-width: 161px;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

.contact-button-second:hover {
  background: #ecebeb;
}

.contact-button-second {
  background: var(--text-white);
  color: var(--text-red);
}

.contact-button-first {
  background: #d41342;
  color: var(--text-white);
}

.contact-button-icon {
  fill: var(--text-white);
  stroke: var(--text-red);
  margin-left: 10px;
}

.contact-button-first .contact-button-icon {
  fill: #d41342;
  stroke: var(--text-white);
}

@media screen and (min-width: 768px) {
  .contact {
    background-image: linear-gradient(to bottom, var(--text-white) 15%, var(--background-footer) 15%);
  }
  .contact__cards {
    flex-direction: row;
    font-size: 14px;
  }
  .contact__card-title {
    font-size: 16px;
    padding: 6px 35px;
    border-radius: 6px;
    line-height: 30px;
  }
  .contact__card__adress {
    margin-top: 30px;
  }
  .contact__card-elements {
    gap: 60px;
  }
  .contact__button-list {
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-top: 80px;
  }
  .contact__button-list__button {
    padding-inline: 30px;
  }
  .contact__card__date {
    line-height: 26px;
  }
  .contact__card__date-hours {
    margin-bottom: 16px;
  }
  .contact__card__contacts {
    line-height: 26px;
  }
  .contact__card__adress-description {
    line-height: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .contact {
    background-image: url(../images/desktop/clients.back2x.png), linear-gradient(to bottom, var(--text-white) 15%, var(--background-footer) 15%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 35%, 0;
  }
  .contact__cards {
    font-size: 16px;
    justify-content: center;
    gap: 30px;
  }
  .contact__card {
    min-width: 330px;
    padding: 50px 43px;
  }
  .contact-button {
    padding-inline: 35px;
  }
  .contact__card__adress-description {
    line-height: 30px;
  }
}
.footer {
  padding-top: 113px;
  background-color: var(--background-footer);
}

.footer__title {
  display: block;
  flex-direction: column;
  font-family: "Titan One", cursive;
  gap: 17px;
  font-weight: 400;
  line-height: 1.15;
  padding-bottom: 43px;
}

.footer__title--top {
  font-size: 18px;
  color: var(--text-pink);
}

.footer__title--top-break {
  margin: 0;
}

.footer__title--bottom {
  font-size: 34px;
  letter-spacing: 0.04em;
  color: var(--text-red);
  margin: 0;
}

.footer__contact {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.86;
  padding-bottom: 43px;
}

.footer__contact--red-text {
  text-decoration: none;
  color: var(--text-red);
}

.footer__copyright {
  color: var(--text-grey);
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 22px 0;
  border-top: 1px solid #907e82;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.footer__copyright--properties {
  display: flex;
  justify-content: center;
}

.footer__social-links-icon {
  fill: var(--text-pink);
  width: 32px;
  height: 32px;
}

.footer__social-links-list {
  display: flex;
  flex-direction: row;
  gap: 28px;
  justify-content: flex-end;
  padding-bottom: 46px;
}

@media screen and (min-width: 768px) {
  .footer__title {
    display: inline-block;
    padding-bottom: 16px;
  }
  .footer__title--top {
    font-size: 26px;
    letter-spacing: 0.04em;
  }
  .footer__title--bottom {
    font-size: 48px;
    letter-spacing: 0.06em;
  }
  .footer__contact {
    font-size: 14px;
    letter-spacing: 0.01em;
  }
  .footer_copyright {
    flex-direction: row;
    display: flex;
  }
  .footer__social-links-list {
    gap: 30px;
    padding-left: 198px;
  }
  .footer__social-links-icon {
    width: 34px;
    height: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__title {
    display: inline-block;
    padding-bottom: 97px;
  }
  .footer__title--top {
    font-size: 30px;
    letter-spacing: 0.04em;
  }
  .footer__title--bottom {
    font-size: 58px;
    letter-spacing: 0.06em;
  }
  .footer__contact {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
  .footer_copyright {
    flex-direction: row;
    display: flex;
    letter-spacing: 0.02;
  }
  .footer__social-links-list {
    gap: 24px;
    padding-left: 422px;
  }
>>>>>>> Stashed changes
}/*# sourceMappingURL=main.css.map */