.container {
  width: 90%;
  margin: 0 auto;
  padding-inline: 0;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-inline: 34px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-inline: 77px;
  }
}
