:root {
  --background-footer: #fff5f6;
  --background-header: #ffb8ca;
  --background-mobile-menu: #e17992;
  --text-red: #d41443;
  --text-pink: #ffa5ba;
  --text-black: #000000;
  --text-grey: #907e82;
  --text-white: #ffffff;
  --icecoffee-color: #f0d1a5;
  --milkshakes-color: #c2e297;
}
