<section class="container advantages__section">
    <h2 class="advantages__title"> Advantage </h2>
    <ul class="list-style advantages-menu">
        <li class="advantage-card">
            <h3 class="advantage-card__quantity advantage-card__icon1">721</h3>
            <p class="advantage-card__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantage-card">
            <h3 class="advantage-card__quantity advantage-card__icon2">16KG</h3>
            <p class="advantage-card__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantage-card">
            <h3 class="advantage-card__quantity advantage-card__icon3">84</h3>
            <p class="advantage-card__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
</section>