<section class="advantages__section">
  <div class="container">
    <h2 class="advantages__title">Advantage</h2>
    <ul class="list-style advantages-menu">
      <li class="advantage-card">
        <h3 class="advantage-card__quantity advantage-card__icon1 scale-up-center">721</h3>
        <p class="advantage-card__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage-card">
        <h3 class="advantage-card__quantity advantage-card__icon2 scale-up-center">16KG</h3>
        <p class="advantage-card__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage-card">
        <h3 class="advantage-card__quantity advantage-card__icon3 scale-up-center">84</h3>
        <p class="advantage-card__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
