<section class="contact">
    <div class="container">
  <h2 class="header-empty"></h2>
  <ul class="contact__cards list-style">
    <li class="contact__card">
      <div class="contact__card-title">CAFE</div>
      <ul class="contact__card-elements list-style">
        <li class="contact__card__adress">
          <p class="contact__card__adress-city">Chicago</p>
          <p class="contact__card__adress-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </li>
        <li class="contact__card__date">
          <p class="contact__card__date-days">Monday - Friday</p>
          <p class="contact__card__date-hours">06:00 AM - 10:00 PM</p>
          <p class="contact__card__date-days">Saturday - Sunday</p>
          <p class="contact__card__date-hours">08:00 AM - 16:00 PM</p>
        </li>
        <li class="contact__card__contacts">
          <a href="Tel:+61(0) 383 766 284" class="contact__card__contacts-tel"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contact__card__contacts-email"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </li>
    <li class="contact__card">
      <div class="contact__card-title contact__card-title-alternate-background">FOODTRUCK</div>
      <ul class="contact__card-elements list-style">
        <li class="contact__card__adress">
          <p class="contact__card__adress-city">Los Angeles</p>
          <p class="contact__card__adress-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </li>
        <li class="contact__card__date">
          <p class="contact__card__date-days">Monday - Friday</p>
          <p class="contact__card__date-hours">06:00 AM - 10:00 PM</p>
          <p class="contact__card__date-days">Saturday - Sunday</p>
          <p class="contact__card__date-hours">08:00 AM - 16:00 PM</p>
        </li>
        <li class="contact__card__contacts">
          <a href="Tel:+61(0) 383 766 284" class="contact__card__contacts-tel"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contact__card__contacts-email"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </li>
    <li class="contact__card">
      <div class="contact__card-title">CAFE</div>
      <ul class="contact__card-elements list-style">
        <li class="contact__card__adress">
          <p class="contact__card__adress-city">Chicago</p>
          <p class="contact__card__adress-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </li>
        <li class="contact__card__date">
          <p class="contact__card__date-days">Monday - Friday</p>
          <p class="contact__card__date-hours">06:00 AM - 10:00 PM</p>
          <p class="contact__card__date-days">Saturday - Sunday</p>
          <p class="contact__card__date-hours">08:00 AM - 16:00 PM</p>
        </li>
        <li class="contact__card__contacts">
          <a href="Tel:+61(0) 383 766 284" class="contact__card__contacts-tel"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contact__card__contacts-email"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </li>
  </ul>
  <ul class="contact__button-list list-style">
    <li><button class="contact__button-list__button contact__button-list__button-first">Our Locations</button></li>
    <li><button class="contact__button-list__button">Franchise</button></li>
  </ul>
  </div>
</section>
