<footer class="footer">
    <div class="container">
    <div class="footer__title">
<span class="footer__title--top">HOMEMADE ICE CREAM MADE</span>
<h1 class="footer__title--bottom">WITH PASSION</h1>
    </div>
    <div class="footer__social-links">
        <ul class="footer__social-links-list list-style">
            <li class="footer__social-links-item">
                <svg>
                    <use xlink:href=""></use>
                </svg>
            </li>
            <li class="footer__social-links-item"></li>
            <li class="footer__social-links-item"></li>
        </ul>
    </div>
    <div class="footer__contact">
<span class="footer__contact--black-text">Feel free to contact <a class="footer__contact--red-text" href="tel:+61383766284">+61 (0) 383 766 284</a></span>
    </div>
    
</div>
<div class="footer__copyright">
    <span class="footer__copyright--properties">© 2019 - IceCream. </span> 
    <span class="footer__copyright--properties">Rights Reserved.</span>
</div>
</footer>