<header class="header">
  <!-- <figure class="img">
    <img src="images/mobile/bigice1x.png" alt="big ice" class="img" />
  </figure> -->
  <div class="container">
    <div class="wrapper">
      <div class="ice-logo">
        <svg width="199" height="50">
          <use href="./images/SVG/logo 1.svg#image0_5_517"></use>
        </svg>
      </div>
      <div class="menu-mobile">
        <svg class="burger" width="20" height="12" viewBox="-15 0 20 30">
          <use href="./images/SVG/icons.svg#icon-menu"></use>
        </svg>
      </div>
    </div>
    <div class="content">
      <h2 class="paragraf">
        <span class="text-white">ice cream made with</span><span class="text-red">passion</span>
      </h2>
      <div class="buttons">
        <button class="button-red">Products</button>
        <button class="button-white">Zamów usługę</button>
      </div>
    </div>
  </div>
</header>
