<h1>Hello world</h1>
<!--PRZYCISK DO URUCHMIANIA MENU-->
<button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
  <svg class="menu-toggle-icon">
    <use href="./images/SVG/icons.svg#icon-burger-icon"></use>
  </svg>
</button>
<button class="header__buy-button">
  Buy now<svg class="contact__button-list__button-icon" width="12px" height="10px">
    <use href="./images/SVG/icons.svg#icon-arrow"></use>
  </svg>
</button>
<button class="header__products-button">Products</button>
<button class="header__made-button">How it's made?</button>
<div class="header__arrow">
  <img src="./images/PNG/arrow-right.png" width="26" height="26" alt="strzałka" />
</div>

<!--KONIEC PRZYCISKU-->
<!--MENU MOBILNE-->
<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg><use href="./images/SVG/icons.svg#icon-close-icon"></use></svg>
  </button>
  <div><div class="mobile__button-container">
    <button class="mobile-menu-button">
      Buy now<svg class="contact__button-list__button-icon" width="12px" height="10px">
        <use href="./images/SVG/icons.svg#icon-arrow"></use>
      </svg>
    </button></div>
    <ul class="mobile-menu list-style">
      <li class="mobile-menu-position--secondary"><a href="" class="link-first">Home</a></li>
      <li class="mobile-menu-position"><a href="#about" class="link">About us</a></li>
      <li class="mobile-menu-position--secondary">
        <a href="#about" class="link">How it's made?</a>
      </li>
      <li class="mobile-menu-position"><a href="#products" class="link">Our products</a></li>
      <li class="mobile-menu-position--secondary"><a href="#contact" class="link">Contact</a></li>
    </ul>
  </div>
</div>
<script defer src="js/mobile-menu.js"></script>
<!--MENU MOBILNE END-->
