<div id="products" class="container products">
  <p class="products__title">100% NATURAL</p>
  <h2 class="products__headline">PRODUCTS</h2>
  <ul class="products__list list-style">
    <li class="products__item">
      <h3 class="products__subject">ICE CREAM</h3>
      <p class="products__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
    </li>
    <li class="products__item products__color-coffee">
      <h3 class="products__subject">ICE COFFEE</h3>
      <p class="products__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
    </li>
    <li class="products__item products__color-shake">
      <h3 class="products__subject">MILKSHAKES</h3>
      <p class="products__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
    </li>
  </ul>
</div>
