<div class="container products">
  <p class="products__title">100% NATURAL</p>
  <h2 class="products__headline">PRODUCTS</h2>
  <ul class="products__list list-style">
    <li class="products__item">
      <div class="products__card">
        <picture class="products__pic"
          ><source
            srcset="./images/desktop/pink-ice1x.png"
            srcset="./images/desktop/pink-ice2x.png 2x"
            media="(min-width:1280px)"
          />
          <source
            srcset="./images/tablet/pink-ice1x.png"
            srcset="./images/tablet/pink-ice2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="./images/mobile/pink-ice1x.png"
            srcset="./images/mobile/pink-ice2x.png 2x"
            media="(min-width:480px)"
          />
          <img src="./images/mobile/pink-ice1x.png" alt="pink-ice" width="249" height="252" />
        </picture>
      </div>
      <h3 class="products__subject">ICE CREAM</h3>
      <p class="products__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
    </li>
    <li class="products__item products__color-coffee">
      <div class="products__card">
        <picture class="products__pic"
          ><source
            srcset="./images/desktop/ice-coffe1x.png"
            srcset="./images/desktop/ice-coffe2x.png 2x"
            media="(min-width:1280px)"
          />
          <source
            srcset="./images/tablet/ice-coffe1x.png"
            srcset="./images/tablet/ice-coffe2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="./images/mobile/ice-coffe1x.png"
            srcset="./images/mobile/ice-coffe2x.png 2x"
            media="(min-width:480px)"
          />
          <img src="./images/mobile/ice-coffe1x.png" alt="pink-ice" width="249" height="252" />
        </picture>
      </div>
      <h3 class="products__subject">ICE COFFEE</h3>
      <p class="products__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
    </li>
    <li class="products__item products__color-shake">
      <div class="products__card">
        <picture class="products__pic"
          ><source
            srcset="./images/desktop/shake1x.png"
            srcset="./images/desktop/shake2x.png 2x"
            media="(min-width:1280px)"
          />
          <source
            srcset="./images/tablet/shake1x.png"
            srcset="./images/tablet/shake2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="./images/mobile/shake1x.png"
            srcset="./images/mobile/shake2x.png 2x"
            media="(min-width:480px)"
          />
          <img src="./images/mobile/shake1x.png" alt="pink-ice" width="249" height="252" />
        </picture>
      </div>
      <h3 class="products__subject">MILKSHAKES</h3>
      <p class="products__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
    </li>
  </ul>
</div>
