<div class="customer">
  <div class="container">
    <div class="customer-inner">
      <div class="customer__photo">
        <img
          src="./images/mobile/roundwoman1x.jpg"
          alt="photo-customer"
          srcset="./images/mobile/roundwoman2x.jpg 2x"
          width="85"
          height="85"
        />
      </div>
      <div class="customer__comment-inner">
        <p class="customer__comment">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <span class="customer__tittle">Emily, Los Angeles</span>
      <div class="customer__btns">
        <span class="customer__btn--active"></span>
        <span class="customer__btn"></span>
        <span class="customer__btn"></span>
      </div>
    </div>
  </div>
</div>
