<div class="customer">
  <div class="container">
    <div class="customer-inner">
      <div class="customer__photo">
        <img
          src="./images/tablet/roundwoman1x.jpg"
          srcset="./images/tablet/roundwoman2x.jpg 2x"
          alt="Customer Avatar"
          class=""
        />
      </div>
      <div class="customer__comment-inner">
        <p class="customer__comment customer__comment-comma">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <h2 class="customer__tittle customer__tittle-home">Emily, Los Angeles</h2>
    </div>
  </div>
</div>
