<section class="container">
<div class="reviews__row">
  <div class="reviews__col">
    <div class="reviews__img">
      <img
        src="./images/tablet/roundwoman1x.jpg"
        srcset="./images/tablet/roundwoman2x.jpg 2x"
        alt="Customer Avatar"
        class=""
      />
    </div>
    <div class="reviews__text-box">
      <p class="reviews__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
    </div>
    <div class="reviews__img"><img src="..\images\png\dots-clients.png" alt="dots" /></div>
    <div class="reviews__customer">
      <span class="">Emily, Los Angeles</span>
    </div>
    </div>
    <div class="reviews__col">
      <div class="reviews__img">
        <img
          src="./images/tablet/roundwoman1x.jpg"
          srcset="./images/tablet/roundwoman2x.jpg 2x"
          alt="Customer Avatar"
          class=""
        />
      </div>
      <div class="reviews__text-box">
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <div class="reviews__img"><img src="..\images\png\dots-clients.png" alt="dots" /></div>
      <div class="reviews__customer">
        <span class="">Joanna, Chicago</span>
      </div>
      </div>
      <div class="reviews__col">
        <div class="reviews__img">
          <img
            src="./images/tablet/roundwoman1x.jpg"
            srcset="./images/tablet/roundwoman2x.jpg 2x"
            alt="Customer Avatar"
            class=""
          />
        </div>
        <div class="reviews__text-box">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="reviews__img"><img src="..\images\png\dots-clients.png" alt="dots" /></div>
        <div class="reviews__customer">
          <span class="">Berth, New York</span>
        </div>
      </div>
    </div>
  </div>
</div>
</section>