.about__section {
  background-color: var(--background-footer);
  width: 100vw;
  padding-bottom: 39px;
  padding-top: 125px;
  background-image: url(../images/mobile/milkback1x.png);
  background-repeat: no-repeat;
  background-size: 100vw 133px;
  background-position: right 0 bottom 146px;
}

.about__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.166;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-pink);
  margin-bottom: 15px;
  margin-top: 0;
}

.about__title {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-red);
  margin-top: 0;
}

.about__view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__image {
  width: 280px;
  height: 279px;
}

.about__description--first-para {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.583;
  color: var(--text-black);
  padding-inline: 30px;
}

.about__description--second-para {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.583;
  color: var(--text-grey);
  padding-top: 47px;
  padding-inline: 30px;

}

.about__description--button {
  padding-top: 47px;
  padding-inline: 30px;
}

.about__button {
  width: 176px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--text-white);
  border-radius: 22px;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.about__button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 83px;
  height: 44px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.285;
  color: var(--text-red);
}

.about__icon {
  margin-left: 13.62px;
}

@media (min-device-pixel-ratio: 2) and (max-width: 768px),
(min-resolution: 192dpi) and (max-width: 768px),
(min-resolution: 2dppx) and (max-width: 768px){
  .about__section{
  background-image: url(../images/mobile/milkback2x.png);
  }
}

@media(min-width: 768px) and (max-width: 1280px) {
  .about__section{
    padding-bottom: 66px;
    padding-top: 130px;
  }
  .about__image {
    width: 340px;
    height: 339px;
    margin-bottom: 50px;
  }
  .about__view {
    display: flex;
    flex-direction: row;
  }
  .about__section {
    background-image: none;
  }
  .about__title{
    margin-bottom: 50px;
    font-size: 48px;
  }
  .about__label{
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 1.153;
  }
  .about__description--first-para{
    font-size: 14px;
    line-height: 1.785;
    padding-inline: 17px 36px;
  }
  .about__description--second-para{
    font-size: 14px;
    line-height: 1.785;
    padding-inline: 17px 36px;
    padding-top: 49px;
  }
  .about__description--button {
    padding-top: 62px;
    padding-inline: 17px 36px;
  }
  .about__list{
    margin-top: 50px;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width:1280px),
(min-resolution: 192dpi) and (min-width:1280px),
(min-resolution: 2dppx) and (min-width:1280px) {
  .about__section {
    background-image: url(../images/desktop/milkback2x.png);
  }
}
@media(min-width: 1280px) {
  .about__section {
    padding-bottom: 66px;
    padding-top: 130px;
  }
  .about__image {
    width: 516px;
    height: 516px;
    margin-bottom: 0;
  }
    .about__view {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .about__section {
    width: 100vw;
    padding-bottom: 39px;
    padding-top: 125px;
    background-image: url(../images/desktop/milkback1x.png);
    background-repeat: no-repeat;
    background-size: 100vw 534px;
    background-position: right 0 bottom -26px;
  }
  .about__title {
    margin-bottom: 55px;
    font-size: 58px;
    line-height: 1.138;
  }
  .about__label {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 1.133;
  }
  .about__description--first-para {
    font-size: 16px;
    line-height: 1.75;
    padding-inline: 74px 40px;
    letter-spacing: 0.04em;
  }
    .about__description--second-para {
    font-size: 14px;
    line-height: 1.785;
    padding-inline: 74px 40px;
    padding-top: 35px;
    letter-spacing: 0.04em;
  }
  .about__description--button {
    padding-top: 45px;
    padding-inline: 74px 40px;
  }
  .about__list {
    margin-top: 50px;
  }
}
