.about__section {
  background-color: var(--background-footer);
  padding-bottom: 39px;
  padding-top: 125px;
  background-image: url(../images/mobile/milkback1x.png);
  background-repeat: no-repeat;
  background-size: 100vw 133px;
  background-position: right 0 bottom 146px;
}

.about__label {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.166;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-pink);
  margin-bottom: 15px;
  margin-top: 0;
}

.about__title {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-red);
  margin-top: 0;
}

.about__view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__image {
  width: 280px;
  height: 279px;
}

.about__description--first-para {
  max-width: 463px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.583;
  color: var(--text-black);
  padding-inline: 30px;
}

.about__description--second-para {
  max-width: 463px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.583;
  color: var(--text-grey);
  padding-top: 47px;
  padding-inline: 30px;
}

.about__description--button {
  padding-top: 47px;
  padding-inline: 30px;
}

.about__button {
  width: 176px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--text-white);
  border-radius: 22px;
  border: 0;
  padding: 0;
  cursor: pointer;
  transition-duration: 250ms;

  &:hover {
    background: #ecebeb;
    transition: 250ms;
  }
  &:focus:hover {
    background: #ecebeb;
    transition: 250ms;
  }
}

.about__button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 83px;
  height: 44px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.285;
  color: var(--text-red);
}

.about__icon {
  fill: var(--text-white);
  stroke: var(--text-red);
  max-height: 20px;
  margin-left: 13.62px;
}

//  Modal

.about-card {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  margin: 0 auto;
}

.about__backdrop {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000033;
  transition: 250ms;
}

.is-hidden-about {
  transform: scaleY(0);
}

.about-modal {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: var(--background-footer);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 8px 8px;
  overflow: auto;
}

.about-modal svg {
  fill: var(--text-pink);
}

.about-modal__button-close {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  margin-left: 396px;
  background-color: var(--background-footer);
}

.about-modal__title {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-red);
  margin-top: 0;
  box-sizing: content-box;
  display: inline-block;
  margin: 0 auto;
  width: 370px;
  height: 60px;
  padding-top: 32px;
}

.about-modal__description {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.583;
  color: var(--text-grey);
  padding-top: 20px;
  padding-inline: 30px;
}

@media (min-width: 480px) {
  .about-modal {
    width: 480px;
    height: 609px;
    margin: auto;
  }
}

@media (min-device-pixel-ratio: 2) and (max-width: 768px),
  (min-resolution: 192dpi) and (max-width: 768px),
  (min-resolution: 2dppx) and (max-width: 768px) {
  .about__section {
    background-image: url(../images/mobile/milkback2x.png);
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .about__section {
    padding-bottom: 66px;
    padding-top: 130px;
    background-image: none;
  }
  .about__image {
    width: 340px;
    height: 339px;
    margin-bottom: 50px;
  }
  .about__view {
    display: flex;
    flex-direction: row;
  }
  .about__title {
    margin-bottom: 50px;
    font-size: 48px;
  }
  .about__label {
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 1.153;
  }
  .about__description--first-para {
    font-size: 14px;
    line-height: 1.785;
    padding-inline: 17px 36px;
  }
  .about__description--second-para {
    font-size: 14px;
    line-height: 1.785;
    padding-inline: 17px 36px;
    padding-top: 49px;
  }
  .about__description--button {
    padding-top: 62px;
    padding-inline: 17px 36px;
  }
  .about__list {
    margin-top: 50px;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1280px),
  (min-resolution: 192dpi) and (min-width: 1280px),
  (min-resolution: 2dppx) and (min-width: 1280px) {
  .about__section {
    background-image: url(../images/desktop/milkback2x.png);
  }
}
@media (min-width: 1280px) {
  .about__section {
    padding-bottom: 39px;
    padding-top: 125px;
    background-image: url(../images/desktop/milkback1x.png);
    background-repeat: no-repeat;
    background-size: 100vw 534px;
    background-position: right 0 bottom -26px;
  }
  .about__image {
    width: 516px;
    height: 516px;
    margin-bottom: 0;
  }
  .about__view {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .about__title {
    margin-bottom: 55px;
    font-size: 58px;
    line-height: 1.138;
  }
  .about__label {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 1.133;
  }
  .about__description--first-para {
    font-size: 16px;
    line-height: 1.75;
    padding-inline: 0;
    letter-spacing: 0.04em;
  }
  .about__description--second-para {
    font-size: 14px;
    line-height: 1.785;
    padding-inline: 0;
    padding-top: 35px;
    letter-spacing: 0.04em;
  }
  .about__description--button {
    padding-top: 45px;
    padding-inline: 0;
  }
  .about__list {
    margin-top: 50px;
    margin-inline: 74px 40px;
  }
}
