.footer {
    background-color: var(--background-footer);
}

.footer__title {
    display: flex;
    flex-direction: column;
  font-family: 'Titan One', cursive;
  gap: 17px;
font-weight: 400;
line-height: 1.15;

}

.footer__title-top {
font-size: 18px;
color: var(--text-pink);
}

.footer__title-bottom {
font-size: 34px;
letter-spacing: 0.04em;
color: var(--text-red);
}