.footer {
  padding-top: 113px;
  background-color: var(--background-footer);
}

.footer__title {
  display: block;
  flex-direction: column;
  font-family: 'Titan One', cursive;
  gap: 17px;
  font-weight: 400;
  line-height: 1.15;
  padding-bottom: 43px;
  flex-wrap: wrap;
  width: 100%;
}

.footer__title--top {
  font-size: 18px;
  color: var(--text-pink);

}

.footer__title--bottom {
  font-size: 34px;
  letter-spacing: 0.04em;
  color: var(--text-red);
  margin: 0;
  flex-wrap: wrap;
  padding-top: 16px;

}

.footer__contact {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.86;
  padding-bottom: 43px;
}

.footer__contact--red-text {
  text-decoration: none;
  color: var(--text-red);
}

.footer__copyright {
  color: var(--text-grey);
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 25px 0 22px 0;
  border-top: 1px solid #907e82;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.footer__copyright--properties {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  width: 140px;
  margin: 0 auto;
}

.footer__social-links-item {
background-color: var(--text-pink);
border-radius: 50%;
width: 34px;
height: 34px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
padding: 0;
cursor: pointer;

&:hover,
&:focus {
  background-color: #d41443;
  transition-duration: 250ms;
}
}

.footer__social-links-icon {
  fill: white;
  cursor: pointer;
}

.footer__social-links-icon--github {
width:20px;
height:20px;
}

.footer__social-links-icon--telegram {
  width:20px;
  height:16px;
}

.footer__social-links-icon--facebook {
  width:9px;
  height:20px;
}

.footer__social-links-list {
  display: flex;
  flex-direction: row;
  gap: 28px;
  justify-content: flex-start;
  padding-bottom: 46px;
  margin: 0;
}
@media screen and (min-width: 320px) {
  .footer__social-links-list {
      justify-content: flex-end;
    }
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top:165px;
  }
  
  .footer__title {
    display: inline-block;
    padding-bottom: 91px;
    width: 340px;
  
  }

  .footer__title--top {
    font-size: 26px;
    letter-spacing: 0.04em;
  }

  .footer__title--bottom {
    font-size: 48px;
    letter-spacing: 0.06em;
  }

  .footer__contact {
    font-size: 14px;
    letter-spacing: 0.01em;
  }

  .footer__copyright {
    flex-direction: row;
    display: flex;
    padding: 29px 0px 18px 0;
  }

  .footer__copyright--properties {
width: 100%;
  }

  .footer__social-links-list {
    gap: 30px;
    padding-bottom: 46px;
  }
  .footer__social-links {
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
  }
  .footer__position--first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__position--second {
    display: flex;
    flex-direction: column;
  }

}

@media screen and (min-width: 1200px) {
.footer {
  padding-top: 167px;
}
  .footer__title {
    display: inline-block;
    padding-bottom: 97px;
    width: 500px;
  }

  .footer__title--top {
    font-size: 30px;
    letter-spacing: 0.04em;
  }

  .footer__title--bottom {
    font-size: 58px;
    letter-spacing: 0.06em;
  }

  .footer__contact {
    font-size: 16px;
    letter-spacing: 0.02em;
  }

  .footer__copyright {
    flex-direction: row;
    display: flex;
    letter-spacing: 0.02;
    padding: 9px 0px 10px 0px;
  }

  .footer__social-links-list {
    gap: 24px;
    justify-content: flex-end;
      align-items: flex-end;
    padding: 0;
    padding-bottom: 50px;
  }

  .footer__social-links-item {
    width: 34px;
    height: 34px;
  }

  .footer__social-links {
    display: inline-block;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .footer__position--first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__position--second {
    display: flex;
    flex-direction: column;
  }
  }
