.gallery {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-inline: 0;
    margin: 0;
    height: auto;
    background-image: linear-gradient(
        to bottom,
        var(--background-footer) 40%,
        var(--text-white) 40%
    );
}

.gallery__img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}