.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  max-width: 20px;
}

@media (min-width: 1280px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:focus svg {
  fill: var(--text-white);
  transition-duration: 250ms;
  transform: rotate(90deg);
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0px 0px 0px 0px;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: var(--background-mobile-menu);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 23px;
  right: 34px;
}

.menu-toggle-icon {
  fill: var(--text-red);
  max-height: 20px;
}
.menu-container svg {
  fill: var(--text-white);
  transition-duration: 250ms;
  max-width: 14px;
  max-height: 14px;
}
.link {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: var(--text-white);
  margin-left: 21px;
}
.link-first {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: var(--text-red);
  margin-left: 21px;
}
.mobile-menu-position--secondary {
  width: 100%;
  border: 1px solid #e18298;
  height: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.mobile-menu {
  margin: 19px 0px 0px 0px;
}

.mobile-menu-position {
  padding-top: 12px;
  padding-bottom: 12px;
}
