.products__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-pink);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 121px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 122px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-top: 127px;
  }
}
.products__headline {
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  color: var(--text-red);
  margin-bottom: 144px;
  margin-top: 0;

  @media screen and (min-width: 768) {
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 66px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
.products__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 130px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    margin-bottom: 112px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-wrap: nowrap;
    gap: 29px;
    margin-bottom: 119px;
  }
}
.products__item {
  width: 100%;
  background: var(--background-header);
  border-radius: 24px;
  height: 485px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 40px) / 3);
  }
  @media screen and (min-width: 1280px) {
    height: 525px;
    flex-basis: calc((100% - 58px) / 3);
  }
}
.products__subject {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--text-white);
  text-align: center;
  margin-top: 161px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    margin-top: 152px;
  }
  @media screen and (min-width: 1280px) {
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    margin-top: 163px;
  }
}
.products__color-coffee {
  background-color: var(--icecoffee-color);
}
.products__color-shake {
  background-color: var(--milkshakes-color);
}
.products__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--text-white);
  flex-wrap: wrap;
  padding-top: 66px;
  padding-left: 41px;
  padding-right: 39px;

  @media screen and (min-width: 768px) {
    padding-left: 11px;
    padding-right: 11px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 176%;
    text-align: center;
    padding-top: 70px;
    padding-left: 45px;
    padding-right: 45px;
  }
}

.products__card {
  position: relative;
}
.products__pic {
  position: absolute;
  top: -110px;
  padding-left: 16px;

  @media screen and (min-width: 768px) {
    margin-left: -10px;
  }
  @media screen and (min-width: 1280px) {
  }
}

.products__arrow {
  display: flex;
  justify-content: center;
}

// @media screen and (min-width: 768px) {
// }
// @media screen and (min-width: 1280px) {
//   width: 1280px;
//   padding-inline: 77px;
// }
