.customer-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.customer__photo {
  text-align: center;
  margin-bottom: 29px;
}
.customer__comment_inner {
  background: #fafafa;
  margin-bottom: 42px;
  padding-block: 43px 26px;
  z-index: 2;
}
.customer__comment {
  font-size: 12px;
  padding: 0 15px;
  text-align: center;
  line-height: 255%;
  color: black;
  background: repeating-linear-gradient(#fafafa, #fafafa 29px, #e1e1e1 30px);
  position: relative;
  z-index: 1;
}
